@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #6c757d;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #6c757d;
  a {
    color: #6c757d;
    &:hover {
      color: #343a40;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@media (max-width: 767px) {
  footer {
    small {
      display: block;
      float: none;
      text-align: center;
    }
    ul {
      float: none;
      text-align: center;
      li {
        float: none;
        margin: 0 10px;
        display: inline-block;
      }
    }
  }
}
